const firebaseConfig = {

  apiKey: "AIzaSyDs7Bf9sop2qCbO3ppZMyTJDXUDorumXCw",

  authDomain: "travel-agency-55a66.firebaseapp.com",

  projectId: "travel-agency-55a66",

  storageBucket: "travel-agency-55a66.firebasestorage.app",

  messagingSenderId: "33839921297",

  appId: "1:33839921297:web:93a1b23e624ced5f17e730",

  measurementId: "G-2NTEH1T6LK"
